
aao_rad/build/
aao_rad/aao_rad.lund
aao_rad/aao_rad.norm
aao_rad/aao_rad.out
aao_rad/aao_rad.sum
aao_rad/aao_rad.survey.csv
aao_rad/generator.stderr.txt
aao_rad/generator.stdout.txt
aao_rad/survey_*/
aao_rad/migration_*/
aao_norad/build/

# Generated AAO scan plots/results.
aao_norad/BC_scans*/
aao_norad/*.png
aao_norad/*.pdf
aao_norad/*.dat
aao_norad/*.kin
aao_norad/*.lund
aao_norad/*.norm
aao_norad/*.out
aao_norad/*.sum
aao_norad/validation_sampling/
__pycache__/
